.header {
  display: flex;
  justify-content: space-between; /* Alinha os itens nas extremidades */
  align-items: center; /* Centraliza verticalmente */
  height: 92px;
  /*
  background-color: #794f44;
  color: #fff;
  */
  background-color: var(--marromEscuro);
  color:  var(--bege);

  position: fixed; /* Adicionado para posicionar elementos filhos absolutos */
  width: 100vw;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

.searchBar {
  flex: 1; /* Ocupa o espaço restante */
  max-width: 400px; /* Limita a largura da barra de busca */
  margin: auto;
  position: relative; /* Adicionado para posicionar a lupa */
}

.searchBar input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* Aumenta o padding à direita para a lupa */
  border: none;
  border-radius: 10px;
  outline: none;
  margin: auto;
  font-size: 16px; /* Tamanho da fonte */
}

.searchBar svg {
  position: absolute;
  right: 1rem; /* Posiciona a lupa à direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta o posicionamento vertical */
  color: #000000; /* Cor da lupa */
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaçamento entre os ícones */
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  height: 92px;
}

.favoritos,
.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.favoritos:hover,
.perfil:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}