.lateralBar{
    display: flex;
    flex-direction: column;
    padding: 92px 0 0 15px;
    height: 100vh;
    background-color: var(--marrom);
    width: 100px;
    position: fixed;
    transition: all 2s;
    color: var(--bege);
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.lateralBar svg{
    size: 50px;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
    gap: 90px;
}


.menuButton{
    border: none;
    background-color: transparent;
    color: var(--bege);
    cursor: pointer;
}

.menuLateralItem{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}

.menuLateralLink{
    display: flex;
    width: 700px;
    position:absolute;
    left: 10px;
    align-items: center;
}

.menuLateralLink svg{
    size: 200px;
    margin-right: 25px;
}

.menuLateralLink p{
    font-size: 26px;
    align-items: center;
}

.logout{
    margin-bottom: 50px;
}