:root {
  --creme: #faf9e9;
  --bege: #c2aa8b;
  --marromClaro: #837060;
  --marrom: #48342f;
  --marromEscuro: #3a2824;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/livraria.jpg');
  /* Caminho correto da imagem */
  background-size: cover;
  /* Faz a imagem cobrir todo o fundo */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita repetição da imagem */
  background-attachment: fixed;
  /* Fixa a imagem ao rolar a página */
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="password"]::-ms-reveal,
/* Para Microsoft Edge */
input[type="password"]::-ms-clear,
/* Para Microsoft Edge */
input[type="password"]::-webkit-credentials-auto-fill-button {
  /* Para Chrome */
  display: none;
}

input:focus {
  outline: none;
}

main,
.bodyDirenciado {
  flex-grow: 1;
  /* Faz o main ocupar todo o espaço restante */
  display: flex;
  /* Opcional, se precisar organizar elementos internos */
  flex-direction: column;
  /* Opcional, se precisar alinhar itens verticalmente */
}

.containerParaHeaderELateralbar {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 100px;
}