:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  border: none; /* Remove a borda */
  outline: none; /* Remove o contorno ao focar */
  -webkit-appearance: none; /* Remove estilos padrão do Safari */
  -moz-appearance: none; /* Remove estilos padrão do Firefox */
  appearance: none; /* Remove estilos padrão do navegador */
  background-color: transparent; /* Remove fundo padrão, se necessário */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
