.campoImagem {
    height: 60%;
    background-color: var(--creme);
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.campoTexto {
    height: 40%;
    background-color: var(--marromClaro);
}

.imgCard {
    border-radius: 10px;
    /* Bordas arredondadas para a imagem */
    margin-bottom: 15px;
    /* Espaço abaixo da imagem */
    max-height: 100%;
    object-fit: cover;
    /* Ajusta a imagem ao tamanho do contêiner sem distorção */
    margin: 3px auto;

}

.divItem h3 {
    padding-top: 10px;
    margin: 10px 0;
    /* Espaçamento acima e abaixo do título */
    margin-left: 5px;
    /* Alinhamento à esquerda */
    color: white;
    font-size: 22px;
}

.desc {
    color: white;
    word-wrap: break-word;
    /* Quebra palavras longas */
    overflow-wrap: break-word;
    /* Quebra palavras longas */
    white-space: normal;
    /* Permite que o texto quebre em várias linhas */
    margin: 10px 0;
    /* Espaçamento acima e abaixo do parágrafo */
    text-align: left;
    /* Alinha o texto à esquerda */
    padding: 0 5px;
    /* Espaçamento interno */
}

.divItem {
    height: 50vh;
    /* Altura mínima */
    /*background: linear-gradient(to bottom, #FAF9E9 63%, #837060 50%);  Duas cores */
    border: 1px solid #837060;
    /* Borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    text-align: center;
    /* Centraliza o texto */
    font-size: 16px;
    /* Tamanho da fonte */
    color: #333;
    /* Cor do texto */
    display: flex;
    flex-direction: column;
    /* Organiza os elementos em coluna */
    overflow: hidden;
    /* Impede que o conteúdo ultrapasse os limites */
    width: 18vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mais {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 10px;
}

.obras {
    width: 100%;
    margin: 20px auto;
    /* Centraliza na página */
    padding: 20px;
    /* Espaçamento interno */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Garante 4 colunas */
    gap: 30px;
    /* Espaçamento entre os itens */
}

.titulo {
    display: flex;
    font-size: 30px;
    margin: 20px auto;
    color: white;
    background-color: var(--marromClaro);
    width: 300px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerVerAutor {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.containerAutor {
    width: 50%;
    background-color: var(--marromClaro);
    padding: 20px;
    border-radius: 20px;
    color: var(--creme);
}

.descricao{
    margin: 20px 0;
    text-align: justify;
}

.containerOutrosAutores {
    width: 40%;
    background-color: var(--marromClaro);
    padding: 20px;
    border-radius: 20px;
    color: var(--creme);
}

.outrosAutores {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Garante 4 colunas */
    gap: 10px;
    /* Espaçamento entre os itens */
}

.cardOutroAutor{
    display: flex;
    background-color: var(--bege);
    padding: 10px;
    border-radius: 20px;
}

.textoOutroAutor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    margin: auto 10px;
}

.containerItem {
    width: 100%;
    display: flex;
}

.imagemAutor {
    border-radius: 20px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: auto 10px;
}

.imagemOutroAutor{
    border-radius: 100%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.obrasAutor{
    font-size: 20px;
    font-weight: bolder;
}