.rodape {
    margin-top: 25vh;
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footerSection {
    max-width: 190px;
    margin-bottom: 20px;
    
  }
  
  .footerSection h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footerSection p {
    font-size: 14px;
    line-height: 1.6;
    
  }
  

  .footerSection a {
    margin: 5px;
    
  }

  .copy {
    width: 100%;  /* Garante que o texto ocupe toda a largura disponível */
    text-align: center;  /* Centraliza o texto */
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
  }
  
  @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footerSection {
      max-width: 100%;
    }
  }
  